{% extends 'base.html' %}



{% block main %}
<p>About the author of the project</p>
  <div>
  Contact Author:
  <a href="https://vk.com/id510018985" class="d-inline-flex focus-ring focus-ring-primary py-1 px-2 mt-5 text-decoration-none border rounded-2">VK</a>
  <a href="https://www.youtube.com/@BOSOZOKU-v2j" class="d-inline-flex focus-ring focus-ring-primary py-1 px-2 mt-5 text-decoration-none border rounded-2">YouTube</a>
  </div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.3416818228325!2d37.61764451594615!3d55.75581398055321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a636ffddee3%3A0x6a3cce63544ff5bf!2z0JzQsNGA0L7QstGB0LrQvtCwINC-0YHQuNCy0LLRgdGC0YwsIDQxLCDQnNC-0YHQvychYSA2MDAsINCh0LDQtNGC0Ywg0YPQuy4gNDU!5e0!3m2!1sru!2sru!4v1691233782581!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
{% endblock %}
